.entirepage {
  margin: 0% 15% 0% 15%;
  display: flex;
  flex: wrap;
}

.pagecaption {
  font-size: 3rem;
  margin: 1% 2%;
  font-weight: bold;
}

.leftdisplay {
  margin-top: 10%;
  /* width: 25%; */
  /* height: 500px; */
  border: black;
  border-style: solid;
  border-width: 1px;
  background-color: rgb(179, 0, 0);
}

.lefttitle {
  margin: 5%;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: bold;
  font-display: center;
  border: rgb(255, 255, 255);
  border-style: solid;
  border-left: 0px;
  border-right: 0px;
  border-top: 1px;
}

.leftcaption {
  margin: 5%;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: bold;
  font-display: center;
}

.leftbody {
  margin: 5%;
  color: rgb(255, 255, 255);
  font-size: 1rem;
}

.mainpage {
  margin-top: 10%;
  /* float: right; */
  width: 75%;
  border: black;
  border-style: solid;
  border-width: 1px;
}

.navbar {
  width: 70%;
  margin: 0% 15% 0% 15%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: bold;
  z-index: 1;
  position: fixed;
}

.title {
  margin: 1% 2.5%;
  width: 50%;
  /* background-color: rgb(134, 0, 0); */
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: bold;
  font-display: center;
  border: rgb(128, 128, 128);
  border-style: solid;
  border-left: 0px;
  border-right: 0px;
  border-top: 1px;
}

.body {
  padding: 1%;
  margin: 1% 2.5%;
  /* background-color: rgba(128, 128, 128, 0.082); */
  color: rgb(0, 0, 0);
  font-size: 1.25rem;
  font-family: "Times New Roman", Times, serif;
  border: 1px;
}

.footer {
  margin: 0% 15% 0% 15%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: bold;
}

/* SlideShow Content */

.sectionslideshow {
  margin: 1%;
  background-color: rgb(255, 255, 255);
  border: black;
  border-style: solid;
  border-width: 1px;
  background-image: url("images/white.png");
  background-repeat: repeat;
}

h3 {
  text-align: center;
}
.each-slide {
  margin: 2.5%;
}
.each-slide > div {
  display: flex;
  background: no-repeat;
  background-position: center;
  border: rgb(46, 44, 44);
  border-style: solid;
  border-width: 1px;
  margin: 2%;
  background-color: rgba(255, 255, 255, 0.747);
  box-shadow: 1px 1px 5px 5px rgb(0, 0, 0);
}

.each-slide span {
  /* padding: 4px; */
  font-size: 30px;
  background: rgb(53, 51, 51);
  color: white;
  text-align: center;
  margin-left: 0%;
  margin-top: 50%;
  border: rgba(255, 0, 0, 0.589);
  border-style: solid;
  border-width: 2px;
  box-shadow: 1px 1px 5px 5px rgb(0, 0, 0);
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 50%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 50%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
  background: #adceed;
}

.h1 {
  color: rgb(255, 255, 255);
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 3rem;
  margin: 1% 25% 1% 25%;
  padding: 1px;
  text-align: center;

  text-rendering: optimizeLegibility;
}
